body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff; /* Light background color */
}
.login-container {
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #7ba4e0;
    box-shadow: 0 0 5px rgba(123, 164, 224, 0.4);
}

button {
    background-color: #7ba4e0;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #35346f; /* Darker shade on hover */
}

.error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}

p {
    margin: 0;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

  /* Optional: Style for the page's background */
.login-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 500px;
    margin-top: 80px;
    margin-bottom:100px;
}