#root {
  max-width: 100%;
  margin: 0;
  text-align: center;
  top:0;
  width: 100%;
  height: 100vh; /* Ensure full viewport height */
  display: flex; /* Use flexbox to center content */
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Align content to the top */
}

/* General styling for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Styling for the navigation bar */
nav {
  background-color: #7ba4e0; /* Dark background color */
  padding: 10px;
  top: 0; 
  right: 0;
  left:0;
  position: sticky;
  width: 100%;
  z-index: 1000;
}

/* Styling for the unordered list inside the navbar */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Use flexbox to arrange list items horizontally */
  justify-content: center; /* Center the items */
}

/* Styling for each list item */
nav ul li {
  margin-right: 20px;
}

/* Styling for links inside the navbar */
nav ul li a {
  color: white; /* White text color */
  text-decoration: none; /* Remove underline from links */
  font-size: 18px;
  padding: 10px 15px;
  display: inline-block; /* Make the link behave like a block element */
  transition: background-color 0.3s ease; /* Smooth background change */
}

/* Hover effect for the links */
nav ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: #4781d8; /* Darken background on hover */
  border-radius: 5px;
}